# SQLAlchemy

Set up database tools:

In [18]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import InvalidRequestError
import model

url = 'postgresql+psycopg2://postgres:postgres@localhost/meerkat_db'
engine = create_engine(url)
Session = sessionmaker(bind=engine)
session = Session()

As we could see in the previous exercise, writing SQL queries as character string variables is not the most practical way to get data from the database, especially if it has to be done programmatically.

Luckily, SQLAlchemy provides tools to build these queries without fiddling around with character string operations.

An important thing to notice is that in the import commands above, the Meerkat PostgreSQL database model was imported. This model is used to set up the database via Python when the system is set up so the whole database life cycle can be handled via Python.

## Exercise 1: Basic SQL queries using SQLAlchemy

We'll repeat some of the exercises in the last session but using SQLAlchemy this time. Even when using SQLAlchemy it is important to know whatwould happen

In [23]:
# "SELECT NAME FROM LOCATIONS WHERE ID = 1;"

try:
    result = session.query(model.Locations.name).filter(model.Locations.id == 1)
    for r in result:
        print(r)
except InvalidRequestError as e:
    print("The SQLAlchemy request wasn't valid:", e)

('Demo',)

In the above example, instead of putting together a character string with the SQL command, we call SQLAlchemy functions to do the database query. Parameter "model.Locations.name" is given as the list of columns to return and a logical statement is given as a parameter to filter function to perform the purpose of a "WHERE" statement

### a) 
Repeat the query 1a in the previous exercise, but this time using SQLAlchemy instead of a raw SQL commands.

In [22]:
# "SELECT ID, NAME FROM LOCATIONS WHERE PARENT_LOCATION = 1;"

try:
    result = session.query() # Edit this line
    for r in result:
        print(r)
except InvalidRequestError as e:
    print("The SQLAlchemy request wasn't valid:", e)

The SQLAlchemy request wasn't valid: Query contains no columns with which to SELECT from.

### b)
Repeat the query 1b in the previous exercise, but this time using SQLAlchemy

In [ ]:
# "SELECT COUNT(*) FROM DATA WHERE TYPE = 'case' AND DATE > '2016-07-1'" 

try:
    result = session.query() # Edit this line
    for r in result:
        print(r)
except InvalidRequestError as e:
    print("The SQLAlchemy request wasn't valid:", e)

## Exercise 2: JSON queries using SQLAlchemy